<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#showHistoric-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">{{nameApp}}</a>
    </div>

    <div class="collapse navbar-collapse" id="showHistoric-collapse">
      <ul class="nav navbar-nav">
        <li><a (click)="changeViewHistoric(true)">Search</a></li>
        <li><a (click)="changeViewHistoric(false)">Show Historic Search</a></li>
      </ul>
    </div>

  </div>
</nav>

<div *ngIf="showSearchCity">
  <div id="inputSearchCity" class="col-xs-12 col-sm-10 col-md-10">
    <div class="col-xs-10 col-sm-10 noPadL padR5">
      <input #cityToSearchInput type="text" class="form-control" placeholder="Search">
    </div>
    <div class="col-xs-2 col-sm-2 padL5">
      <button #btnSearchCity (click)="searchThisCity(cityToSearchInput.value)" class="btn btn-default">Search</button>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-10 noPadL noPadR" *ngIf="isCityFounded">
    <city-result [citySelected]="cityToSearch"></city-result>
  </div>
</div>


<div class="col-xs-12 col-sm-12 col-md-10 noPadL noPadR" *ngIf="showHistoric">
  <city-historics-search></city-historics-search>
</div>
